@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    <h3>DOT Website Privacy Policy</h3>

    Our Commitment

    We respect your right to privacy and will protect it when you visit our Web site.

    This Privacy Policy explains our online information practices only, including how we collect and use your personal information. It does not apply to third-party Web sites that you are able to reach from this Web site. However, the Department of Transportation does evaluate the privacy policies of its unofficial presences on third-party Web sites and third-party content rendering applications. We encourage you to read those privacy policies to learn how they collect and use your information. You may also read our Privacy Impact Assessments for these third-party Web site and content rendering applications.
    What We Automatically Collect Online

    We collect information about your visit that does not identify you personally. We can tell the computer, browser, and Web service you are using. We also know the date, time, and pages you visit. Collecting this information helps us design the site to suit your needs. In the event of a known security or virus threat, we may collect information on the Web content you view.
    Other Information We May Collect

    When you visit our Web site, we may request and collect the following categories of personal information from you:
</p>
